*{
    font-family: 'Poppins', sans-serif;
}
html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
html::-webkit-scrollbar{
    display: none;
}
body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: none;
    object-fit: contain;
}
.pulsate{
    background: linear-gradient(-45deg, #DDDDDD, #F0F0F0, #DDDDDD, #F0F0F0);
      background-size: 400% 400%;
      -webkit-animation: Gradient 2.25s ease infinite;
      -moz-animation: Gradient 2.25s ease infinite;
      animation: Gradient 2.25s ease infinite;

}
@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
#indexpage{
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/static/ammie-ngo-vcu-OZBxxRk-unsplash.png');
    background-size: cover;
    background-position: center;
    object-fit: contain;
}
#banner-introduce{
    color: white;
    font-family: 'Poppins', sans-serif;
}
#banner-introduce p{
    font-weight: 300;
}
#banner-introduce button{
    border: none;
    background-color: white;
    color: black;
}
#banner-introduce button:hover{
    color: white;
    transition: background-color ease-in-out 0.2s;
    background-color: rgba(0, 0, 0, 0.3);
}